
body{
	background: url("../bgfour.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

figcaption{
    font-size: 14px;
}

a{
    color: #ffffff;
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.titletext{
    position: absolute;
    top: 35%;
    left: 12%;
    margin-right: -10%;
}

#imgWrapper{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#backtop{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 16px;
}

.pagenum{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    font-size: 16px;
}

#img1{
    position: relative;
    width: 400px;
    height: 250px;
}

#img2{
    position: relative;
    width: 300px;
    height: 250px;
    float: right;
}

#img3{
    position: relative;
    width: 600px;
    height: 350px;
}

#img4{
    position: relative;
    width: 450px;
    height: 250px;
}

#img5{
    position: relative;
    width: 350px;
    height: 400px;
    margin-right: 300px;
}

#snippet1{
    position: relative;
    float: right;
    bottom: 390px;
    width: 300px;
    height: auto;
}

#img6{
    position: relative;
}

#img7{
    position: relative;
    bottom: 150px;
}

#img8{
    position: relative;
    width: 350px;
    height: 200px;
    margin-right: 300px;
}

#snippet2{
    position: relative;
    float: right;
    bottom: 50px;
    width: 450px;
    height: 350px;
}

#img10{
    position: relative;
    right: 230px;
    top: 100px;
}

#snippet3{
    position: relative;
    float: right;
    left: 30px;
    bottom: 400px;
    width: 500px;
    height: auto;
}

#img12{
    position: relative;
    width: 400px;
    height: 250px;
}

#fourteenth{
    font-size: 26px;
}

#img13{
    position: relative;
    width: 300px;
    height: 240px;
    right: 150px;
}

#img14{
    position: relative;
    width: 400px;
    height: 250px;
    float: right;
    bottom: 260px;
}

#imageHolder{
    width: 1000px;
    height: auto;
    position: relative;
    top: 350px;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.4;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: .9 }

.slide {
    display: block;
    opacity: 0;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(255, 255, 255);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.redslide{
	background-color: #e53935;
}

.blueslide{
	background-color: #1E88E5;
}

.greenslide{
	background-color: #43a047;
}

#fifteenth{
    font-size: 16px;
    line-height: 1.5em;
}

#fifteenth h4{
    font-size: 22px;
}

#start{
    display: none;
}

#end{
	background-color: transparent;
}

.thanks{
    font-family: "Open Sans";
    color: #ffffff;
    position: relative;
    top: 300px;
}
